#imglogo{
width: 100px;
height: 100px;
display: inline-block;
}
body{
    background-image: url("img/background.png");
    width: 100%;
}
header{
    background-color:  rgba(202, 240, 251, 255);

}
h1{
    text-align: center;
}
